@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: Poppins;
}
#myBtn{
    display: none;
    position: fixed;
    top: 0;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #4dcbb0;
    width: 100%;
    color: white;
    cursor: pointer;
    font-family: Poppins;
}
.link{
    color: transparent;
    text-decoration: none;
    text-shadow: 0px 0px 0px #4dcbb0;
    transition: text-shadow 0.1s linear;
}
.link:hover{
    text-shadow: 0px -4px 0px lightseagreen;
}
.logo{
    height: 150px;
    margin-bottom: -15px;
}
.tagline{
    text-decoration: none;
    color: black;
    font-family: Poppins;
}
.grid{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 50px;
    padding-right: 50px;
}
.featuredimage{
    width: 500px;
}
.featuredimage:hover{
    animation-name: featured;
    animation-duration: 0.4s;
    opacity: 80%;
}
@keyframes featured{
    from {opacity: 100%}
    to {opacity: 80%}
}
.projecttitle{
    margin-top: -70px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
}